body {
	font-family: Arial, san-serif;
	width: 100%;
}

.blok {
	width: 100%;
	height: 100vh;
	color: #2c384a;
	padding: 3%;
	text-align: center;
}

h2{
	margin-top: 3%;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #2c384a;
}
h2::after {
	content: "";
	margin: 2% auto 0 auto;
	display: block;
	width: 80px;
	height: 5px;
	background: #d17700;
}
}

h3{
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color: #2c384a;
}

h4 {
	margin-bottom: 15%;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #cf7600;
}


/*Хэдер, меню*/

nav{
	position: fixed;
	width: 100%;
	height: 10vh;
	background: #344051;
	z-index: 1000;
}

.logo {
	color: #fff;
	font-size: 24px;
	line-height: 60px;
	float: left;
	-webkit-animation: comming 2s ease;
	-o-animation: comming 2s ease;
	animation: comming 2s ease;
}

.menu {
	float: left;
}


.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	text-transform: uppercase;
	-webkit-animation: topshift ease 0.4s forwards;
	-o-animation: topshift ease 0.4s forwards;
	animation: topshift ease 0.4s forwards;
	opacity: 0;
}

.menu li:nth-child(2) {
	animation-delay: 0.4s;
}
.menu li:nth-child(3) {
	animation-delay: 0.8s;
}
.menu li:nth-child(4) {
	animation-delay: 1.2s;
}
.menu li:nth-child(5) {
	animation-delay: 1.6s;
}
.menu li:nth-child(6) {
	animation-delay: 2s;
}

.menu li a{
	transition: all 0.1s;
	color: white;
	font-size: 14px;
	transform: scale(1);
	display: inline-block;
	text-decoration: none;
}
.menu li a:visited{
	color: white;
}
.menu li a:hover{
	color: #d17700;
}

.menu li a:active{
	transform: scale(1.1);
}

@keyframes comming {
	from{
		opacity: 0;
	}

	to {
		opacity: 100%;
	}
}

@keyframes topshift{
	from {
		opacity: 0;
		margin-top: -80px;
	}

	to {
		opacity: 1;
		margin-top: 0px;
	}
}

/*Первый контейнер*/

.title_container {
	width: 100%;
	height: 100vh;
	background: url("../img/girl.png") 80% bottom/250px no-repeat,url("../img/bg.jpg") center/cover no-repeat;
}

.title_text {
	width: 100%;
	float: left;
	text-align: center;
	color: #2c384a;
	opacity: 0;
	animation: titlemove 1s ease forwards;
	-o-animation: titlemove ease 1s forwards;
	animation: titlemove ease 1s forwards;

	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
}

.title_text h1 {
	font-size: 55px;
	font-weight: bold;
}

.title_text h4 {
	margin-top: 40px;
	font-size: 22px;
	color: #2c384a;
}

.title_text input{
	height: 40px;
	background: none;
	color: #2c384a;
	border: solid 2px #2c384a;
	border-radius: 5px;
	padding: 0px 15px;
	font-size: 18px;
	margin: 48px 14px 0px 14px;
}

.title_container input{
	transition: all 0.2s;
	transform: scale(1);

}

.title_container input:hover{
	background: #344051;
	color: white;
}

.title_container input:active{
	transform: scale(1.1);
}

@media (max-width: 991px) {
	.title_text h1,
	.title_text h4,
	.title_text input{
		color: white;
		position: relative;
		z-index: 3;
	}
	.title_text input{
		border: solid 2px #fff;
	}

	.title_container {
		position: relative;
	}
	.title_container:after {
		content: "";
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.4);
	}
}

@keyframes titlemove{
	from {
		opacity: 0;
		margin-left: -500px;
	}

	to {
		opacity: 1;
		margin-left: 0px;
	}
}


/*Второй блок*/

.about_me_container>img {
	margin: 3% 0px 3% 0px;
	width: 200px;
	height: 200px;
	border: solid 1px #ff1;
	border-radius: 50% 50%;
}

.about_me_container p {
	text-align: left;
	font-size: 16px;
	margin: 1% 25% 2% 25%;
}

/* Хотела загрузить псевдоэлемент before 
 с background-image: url("../img/btn_icon.png");
 Но, как я поняла, для input псевдоэлемент назначить нельзя
 Как в этом случае поступать - не знаю
 Потому что в коде, который у меня на данный момент
 Текст окрашивается в белый только при наведении на саму кнопку, 
 а не на блок в котором она находиться.
 При наведении на блок, вне ссылки, текст темный.
 Если написать color: white; для hover у btn_download - эффекта ноль */

.btn_download img{
	float: left;
}

.btn_download input{
	float: right;
}

.btn_download {
	margin: auto;
	width: 170px;
	height: 40px;
	border: solid 2px #2c384a;
	padding: 10px 10px;
	border-radius: 15px;
}

.btn_download{
	transition: all 0.2s;
	transform: scale(1);

}

.btn_download:hover{
	background: #344051;
}

.btn_download input:hover{
	color: #fff;
}

.btn_download:active{
	transform: scale(1.1);
}

/*Трейтий блок*/

.my_skills_container {
	background: url("../img/bg_3.jpg") center/cover no-repeat;
	background-attachment: fixed;
}
.skills{
	margin: 10% 0% 0% 0%;
	display: flex;
	justify-content: space-between;
}
.skills img {
	margin-bottom: 15%;
}
.skills_item {
	padding: 10px;
	font-size: 16px;
}

/*Четвертый блок*/
.my_keys_container {
	height: 120vh;
}
.my_keys_container>p {
	margin: 3% 0%;
}
.keys_slider {
	text-align: center;
}
.slide {
	margin: 0% 20%;
	text-align: center;
	width: 60%;
	height: 30%;
}

.picture img{
	width: 100%;
	height: 100%;
}
.slide_1_info {
	margin-top: 3%;
	text-align: center;
}

.slide_1_info p{
	line-height: 20px;
	text-align: left;
}
.left_info {
	float: left;
	width: 20%;
}
.left_info a{
	float: left;
}
.right_info {
	float: right;
	width: 60%;
}
.slide_1_info input {
	margin-top: 3%;
	margin-left: -10%;
	color: #fff;
	background: #63b5ae;
	border-radius: 7px;
	padding: 10px 15px;
}

.slide_1_info input {
	transition: all 0.2s;
	transform: scale(1);
}

.slide_1_info input:hover{
	background: #42938c;
}

.slide_1_info input:active{
	transform: scale(1.1);
}

/*Пятый блок*/
.cost_of_sites_container {
	padding: 0% 25%;
}
.cost_of_sites_container h2::after {
	display: none;
}
.count_cost_form {
	margin-top: 10%;
	text-align: left;
	width: 100%;
}

.results_container {
	text-align: left;
	width: 100%;
}

.count_cost_form legend{
	font-size: 20px;
	font-weight: 600;
	color: #2c384a;
	line-height: 35px;
	text-transform: uppercase;
}

.count_cost_form select{
	margin-bottom: 5%;
	width: 100%;
	height: 40px;
	background: #eee;
}
.timing {
	font-weight: bold;
	margin-top: 3%;
	display: flex;
	justify-content: space-between;
}
.cost {
	font-weight: bold;
	margin-top: 3%;
	display: flex;
	justify-content: space-between;
}

/*Шестой блок*/

.statistica_container {
	height: 70vh;
	background: url("../img/bg_6.png") center/cover no-repeat;
	background-attachment: fixed;
}

.statistica_container_items {
	display: flex;
	justify-content: space-between;
}

.statistica_item {
	margin-top: 10%;
}
.statistica_item h2{
	margin: 10% 0%;
}
.statistica_item h2::after{
	display: none;
}
/*Седьмой блок*/
.reviews_container {
	height: 70vh;
}
.reviews_container img {
	margin: 3% 0%;
}

.reviews_slaider {
	margin: 0% 25%;
	opacity: 0;
}
.rew_name {
	margin-top: 8%;
}

/* Хотела, чтобы этот эффект происходил при первом скроллинге, 
но не знаю, можно ли это сделать без js. В интернете не нашла.
*/
.reviews_slaider {
	animation: rewmove 1s ease forwards;
	-o-animation: rewmove ease 1s forwards;
	animation: rewmove ease 1s forwards;

	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-o-animation-delay: 2s;
}

@keyframes rewmove{
	from {
		opacity: 0;
		margin-left: -500px;
	}

	to {
		opacity: 1;
		margin-left: 25%;
	}
}

/*Восьмой блок*/
.my_contacts_container {
	height: 100vh;
	background: url("../img/bg_cont.jpg") center/cover no-repeat;
	color: #fff;
}
.contacts_item img{
	transition: all 0.2s;
	transform: scale(1);
}

.contacts_item img:hover{
	transform: scale(1.2);
} 
.my_contacts_container  h2{
	color: #fff;
	margin-bottom: 5% ;
}

.contacts {
	margin: 3% 30%;
	display: flex;
	justify-content: space-between;
}
.contacts img {
	margin-bottom: 5%;
}

.form_letter legend {
	text-transform: uppercase;
	margin-bottom: 2%;
	text-align: center;
}
.name_and_email_container input {
	background: #fff;
	height: 30px;
	width: 300px;
	padding: 5px 15px;
	margin-bottom: 1%; 
}
.name_and_email_container input:focus {
	box-shadow: 0px 3px 20px 2px #ccc;
}
.form_letter textarea:focus{
	box-shadow: 0px 3px 20px 2px #ccc;
}
.form_letter textarea {
	background: #fff;
	height: 90px;
	width: 600px;
	padding: 5px 15px;
	margin-bottom: 1%; 
}

.letter_btn {
	color: #fff;
	margin: auto;
	width: 170px;
	height: 40px;
	border: solid 2px #fff;
	padding: 10px 10px;
	border-radius: 10px;
}

.letter_btn {
	transition: all 0.2s;
	transform: scale(1);
}

.letter_btn:hover{
	background: #fff;
	color: #2c384a;
}

.letter_btn:active{
	transform: scale(1.1);
}
footer {
	text-align: center;
	background: #2c384a;
	height: 6vh;
	color: #fff;
}
footer p{
	padding-top: 1%;
}


/* Кнопка для навигационного меню */
.white_btn:visited {
	color: white;